@{
    ViewBag.Title = "Success";
    Layout = "~/Views/_Layout.cshtml";
}
@if(!string.IsNullOrWhiteSpace(@ViewBag.FileName))
{
    <div class="alert alert-success page-header">
        @ViewBag.FileName - Imported
    </div>
    <ul class="list-group" style="width:250px">
        @if(@ViewBag.SuccessCount != null)
        {
            <li class="list-group-item">No Of Rows Imported : <span class="label label-default label-pill label-success">@ViewBag.SuccessCount</span></li>
        }
        @if(@ViewBag.FailCount != null)
        {
            <li class="list-group-item">No of Rows Failed : <span class="label label-default label-pill label-danger">@ViewBag.FailCount</span> </li>
        }
    </ul>
}
@if(Model != null)
{
    <div class="panel panel-info">
        <div class="panel-heading">Failed Data</div>
        <div class="panel-body">
            @{
    Html.RenderPartial("ShowData");
            }
        </div>
    </div>
}
@Html.Partial("_Links")